<div class="douaa">
    <div>

        <h6 style="color: rgb(239, 16, 16);">WHAT WE SERVE</h6>
        <div class="d-inline-flex " style="margin: 28px  0 0 0;">
        <h2>Best Agency in the world</h2><img style="width: 22px; height: 22px;" src="assets/images/fire.png">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div>
        <img src="assets/images/airplane.png">
        <h3>Lot of choices</h3>
        <p>destinations</p>
    </div>
    <div>
        <img src="assets/images/luggage.png">
        <h3>Best Tour Guide</h3>
        <p>Our tour guide</p>
    </div>
    <div>
        <img src="assets/images/ticket.png">
        <h3>Easy Booking</h3>
        <p>with an easy and fast ticket</p>


    </div>
    <div>

    </div>
    
</div>